
@function rem($px) {
  $remSize: $px / 98;
  @return #{$remSize}rem;
}

.header-bar {
  position: fixed;
  height: rem(100);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00a2ea;
}