@function rem($px) {
  $remSize: $px / 98;
  @return #{$remSize}rem;
}

.header-bar {
  position: fixed;
  top: 0;
  height: rem(165);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00a2ea;
  .menu-icon{
    margin: 0 rem(50) 0 rem(25);
  }
  .home-icon{
    color: #fff;
    flex-grow: 1;
  }
  .night-icon{
    margin: 0 rem(5) 0 rem(50);
  }
}