html {
  font-family: "Helvetica-Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}
body {
  font-size: .3265rem;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,ol,li {
 list-style: none;
}
.icon {
  width: .3265rem;
  height: .3265rem;
  vertical-align: middle; 
  fill: currentColor;
  overflow: hidden;
  color: #fff;
}

